.spline-background {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -2;
pointer-events: none;
overflow: hidden;
}

.spline-background > * {
width: 100% !important;
height: 100% !important;
}
