.login {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  background-color: var(--brown-mid-2);
  font-family: 'Arial', sans-serif;
}

.login h2 {
  text-align: center;
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 45px;
  color: #000000;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form input {
  padding: 12px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border 0.2s;
}

.form input:focus {
  border-color: var(--brown-dark-1);
}

.form button {
  padding: 12px;
  font-size: 16px;
  margin-top: 30px;
  border: none;
  border-radius: 8px;
  background-color: #0077ff;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}

.form button:hover {
  background-color: #00305f;
}

.form button:disabled {
  background-color: #999;
  cursor: not-allowed;
}

