.contenedor {
  position: relative;
  width: 100%;
  height: 100%;   /* se adapta al padre */
  overflow: hidden;  /* recorta pompas que sobresalgan */
  border-radius: 12px;
}

.pompa {
  position: absolute;
  user-select: none;
  pointer-events: none;
}
