/*Esta es la estructura de la app*/
.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/*Esto es para que el contenido principal cresca horizontal*/
main {
  overflow-x: auto; /* habilita scroll horizontal */
  overflow-y: auto;
}