/*Esta es la estructura de la app*/
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*Esto es para que el contenido principal cresca horizontal*/
main {
  flex: 1;
  position: relative;
  overflow: visible;
  min-height: 0;     
}

