/* Contenedor principal de la página */
.registro {
  height: 450px;
  width: 450px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  background: var(--brown-mid-2);
  border-radius: 20px;
  font-family: Arial, sans-serif;
}

/* Título */
.registro h2 {
  margin-bottom: 1rem;
  color: #202020;
  font-size: 30px;
}

/* Formulario */
.form {
  background: #ffffff00;
  /* padding: 2rem; */
  width: 100%;
  max-width: 380px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

/* Inputs */
.form input {
  padding: 0.7rem;
  margin-bottom: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.95rem;
}

/* Input focus */
.form input:focus {
  outline: none;
  border-color: #4a90e2;
}

/* Mensajes de error */
.form small {
  color: #e74c3c;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
}

/* Botón */
.form button {
  margin-top: 1.2rem;
  padding: 0.75rem;
  background: #4a90e2;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

/* Hover del botón */
.form button:hover {
  background: #357abd;
}
