.footer {
  background-color: var(--brown-dark-1);
  color: white;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.topSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  margin-bottom: 20px;
}

.socialIcons {
  display: flex;
  gap: 15px;
  align-items: center;
  font-size: 15px;
}

.socialIcons a {
  color: white;
  transition: color 0.2s;
}

.socialIcons a:hover {
  color: var( --brown-dark-3);
}

.quickInfo {
  max-width: 400px;
  text-align: center;
  font-size: 10px;
}

.quickInfo p{
  margin-top: 5px;
}

.bottomSection {
  text-align: center;
  border-top: 1px solid white;
  padding-top: 10px;
  font-size: 12px;
}

@media (max-width: 768px) {
  .topSection {
    flex-direction: column;
    align-items: center;
  }
}
