@font-face {
  font-family: 'DaintySpring';
  src: url('../../assets/dainty-spring.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* CONTENEDOR PRINCIPAL HOMBRE */
.hombre {
  width: 100%;
}

/* SECCIÓN BASE HOMBRE */
.seccion_hombre {
  display: flex;
  flex-direction: column;
  height: 81vh;
}

/* PRIMAVERA */
.seccion_primavera {
  display: flex;
  flex-direction: column;
  height: 81vh;
  background-color: red;
}

/* HEADER */
.seccion_header {
  display: flex;
  flex: 1; /* ocupa todo el espacio libre */
  min-height: 300px;
  background-color: blue;
}

/*Primavera*/
.seccion_titulo1 {
    position: relative;
    background-image: url('../../src/assets/PrimaverHombres.jpg');
    background-size: cover;
    background-position: center;
    width: 50%;
}

.seccion_titulo1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.259);
    pointer-events: none;
}

.seccion_card {
    position: relative; /* permite que el botón se posicione dentro */
    background-size: cover;
    background-position: center;
    width: 50%;
    animation: alternarFondo 20s infinite ease-in-out;
}

@keyframes alternarFondo {
  0% {
    background-image: url('../../src/assets/primaveraHombre1.jpg');
  }
  50% {
    background-image: url('../../src/assets/primaveraHombre2.jpg');
  }
  100% {
    background-image: url('../../src/assets/primaveraHombre1.jpg');
  }
}

/*Verano*/
.seccion_titulo2 {
    position: relative;
    background-image: url('../../src/assets/VeranoHombres.jpg');
    background-size: cover;
    background-position: center;
    width: 50%;
}

.seccion_titulo2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 181, 181, 0.253);
    pointer-events: none;
}

.seccion_card1 {
    position: relative; /* permite que el botón se posicione dentro */
    background-size: cover;
    background-position: center;
    width: 50%;
    animation: alternarFondo1 20s infinite ease-in-out;
}

@keyframes alternarFondo1 {
  0% {
    background-image: url('../../src/assets/veranoHombre1.jpg');
  }
  50% {
    background-image: url('../../src/assets/veranoHombre2.jpg');
  }
  100% {
    background-image: url('../../src/assets/veranoHombre1.jpg');
  }
}

/*Otoño*/
.seccion_titulo3 {
    position: relative;
    background-image: url('../../src/assets/OtoñoHombres.jpg');
    background-size: cover;
    background-position: center;
    width: 50%;
}

.seccion_titulo3::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(65, 39, 0, 0.315);
    pointer-events: none;
}

.seccion_card2 {
    position: relative; /* permite que el botón se posicione dentro */
    background-size: cover;
    background-position: center;
    width: 50%;
    animation: alternarFondo2 20s infinite ease-in-out;
}

@keyframes alternarFondo2 {
  0% {
    background-image: url('../../src/assets/otoñoHombre1.jpg');
  }
  50% {
    background-image: url('../../src/assets/otoñoHombre2.jpg');
  }
  100% {
    background-image: url('../../src/assets/otoñoHombre1.jpg');
  }
}

/*Invierno*/
.seccion_titulo4 {
    position: relative;
    background-image: url('../../src/assets/InviernoHombres.jpg');
    background-size: cover;
    background-position: center;
    width: 50%;
}

.seccion_titulo4::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(129, 210, 241, 0.26);
    pointer-events: none;
}

.seccion_card3 {
    position: relative; /* permite que el botón se posicione dentro */
    background-size: cover;
    background-position: center;
    width: 50%;
    animation: alternarFondo3 20s infinite ease-in-out;
}

@keyframes alternarFondo3 {
  0% {
    background-image: url('../../src/assets/inviernoHombre1.jpg');
  }
  50% {
    background-image: url('../../src/assets/inviernoHombre2.jpg');
  }
  100% {
    background-image: url('../../src/assets/inviernoHombre1.jpg');
  }
}

.titulo1 {
    width: 250px;
    z-index: 2;
    position: absolute;
    top: 20px;
    left: 20px;
}

.titulo1 h2 {
    font-size: 3.1rem;
    margin: 2px;
}

.titulo1 h5 {
    font-size: 1.2rem;
    margin: 1px;
}

/* FOOTER */
.seccion_footer {
  background: black;
  padding: 10px;
  color: white;
  text-align: center;
  margin-top: auto;
}

/* ========================= */
/* NO TOCAR — DISEÑO BOTONES */
/* ========================= */

.button {
  background: transparent;
  border: none;
  cursor: pointer;
  --border-right: 4px;
  --fs-size: 1.2em;
  letter-spacing: 2px;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}

.button1 {
  --text-stroke-color: rgba(255, 255, 255, 0.6);
  --animation-color: #37FF8B;
}

.button2 {
  --text-stroke-color: rgba(255, 255, 255, 0.6);
  --animation-color: #ffff00;
}

.button3 {
  --text-stroke-color: rgba(255, 255, 255, 0.6);
  --animation-color: #ff9500;
}

.button4 {
  --text-stroke-color: rgba(255, 255, 255, 0.6);
  --animation-color: #c0f4ff;
}

.actualText {
  position: relative;
}

.hoverText {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}

.button:hover .hoverText {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
}
